[Unit]
Description=instance to serve datacollector
After=network.target

[Service]
User=aboro
Group=www-data
WorkingDirectory=/home/aboro/projects/datacollector
Environment="PATH=/home/aboro/projects/datacollector/venv/bin"
ExecStart=/home/aboro/projects/datacollector/venv/bin/python run.py

[Install]
WantedBy=multi-user.target
